html {
    box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body { 
    background-color: #FAF1E6;
    font-family: 'Inconsolata', monospace;  
}

a {
    text-decoration: none;
    color: #FDFAF6;
    text-shadow: 0 0 .1em black;
}


/* ######## NAVEGACION ###### */

.nav{
  font-family: 'Staatliches', cursive;
  color: #FDFAF6;
  padding: 0 .1em;
}

.sob, .sk, .pro, .con {
  box-shadow: 0 4px 6px 0px gray;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
  padding: 0.2em; 
  width: calc(100% / 4);
} 

.sob{
    background-color:lightcoral;
}

.sk{
    background-color: lightgreen;
}

.pro {
    background-color: lightseagreen;
}

.con {
    background-color: rgb(93, 77, 102);
}

/* ### HEADER ####*/
.h1title{
    text-align: center;
}

.h2title {
  text-align: center;
  margin-top: 20px;
}

.header-img {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 3px gray;
}

/* ##### ACERCA DE #####*/
.about {
  width: 80%;
  margin: 50px auto;
}



/* ##### SKILLS ####*/
.skills {
  width: 80%;
  margin: 50px auto;  
}

/* -----------------Proyectos ----------------------*/
.h2pro {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.proyectos {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}



.box {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 10px gray;
    width: 300px;
    height: 300px;   
    padding: 1em;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    
}

.img1{
    width: 260px;
    height: 100px;
         
}



/* ---------------Contacto---------------- */
.h2con{
    text-decoration: underline;
    text-transform: uppercase;
}

.contacto {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    
}

.form {
    
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    margin-bottom: 20px;
}

.ulform{
    list-style: none;
    padding: 0;
    margin: 0;
}

.liform {
    margin-bottom: 1em;
    text-align: left;

}

.subm{
    text-align: center;
}

.msg {
    text-align: center;
    
}


/* ------------FOOTER------------ */
footer {
  background-color: rgb(167, 81, 248);    
}




/* ------------medias-------------- */






