html {
    box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body { 
    background-color: #FAF1E6;
    font-family: 'Inconsolata', monospace;  
    /* border: thin solid red; jeeeeejejejejeje */
}

a {
    text-decoration: none;
    color: #FDFAF6;
    text-shadow: 0 0 .1em black;
}

a:hover, a:focus{
  color: black;
  transition: all 1s ease;
}

/* ######## NAVEGACION ###### */

.nav{
  font-family: 'Staatliches', cursive;
  color: #FDFAF6;
  padding: 0 .1em;
}

.sob, .sk, .pro, .con {
  box-shadow: 0 4px 6px 0px gray;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
  padding: 0.2em; 
  width: calc(100% / 4);
} 

.sob{
    background-color:lightcoral;
}

.sk{
    background-color: lightgreen;
}

.pro {
    background-color: lightseagreen;
}

.con {
    background-color: rgb(93, 77, 102);
}

/* ### HEADER ####*/
.h1title{
    text-align: center;
}

.h2title {
  text-align: center;
  margin-top: 20px;
}

.header-img {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 3px gray;
}

/* ##### ACERCA DE #####*/
.about {
  width: 80%;
  margin: 50px auto;
}



/* ##### SKILLS ####*/
.skills {
  width: 80%;
  margin: 50px auto;  
}


/* -----------------Proyectos ----------------------*/





/* ---------------Contacto---------------- */


.form { 
  /* width: 300px; */
  margin-bottom: 20px;
}




/* ------------FOOTER------------ */
footer {
  background-color: rgb(167, 81, 248);    
}




/* ------------medias-------------- */






